name: Main Workflow

on:
    workflow_run:
      workflows: ["Dev Workflow"]
      types:
        - completed

permissions:
  contents: write

jobs:
  main-workflow:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Login to Docker
      - name: Login to Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Install Docker Compose
      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      # 4. Start application with Docker Compose
      - name: Start application with Docker Compose
        run: |
          docker-compose up -d

      # 5. Wait for application to be ready
      - name: Wait for application to be ready
        run: |
          timeout=0
          until curl --output /dev/null --silent --head --fail http://localhost:3000; do
            echo "Waiting for application to be ready..."
            sleep 5
            timeout=$((timeout + 5))
            if [ $timeout -ge 60 ]; then
              echo "Application failed to start in 60 seconds."
              exit 1
            fi
          done

      # 6. Run E2E Tests
      - name: Run E2E Tests
        run: |
          cd e2e-tests
          npm install
          npm test

      # 7. Build and Push Docker Imagestt
      - name: Build and Push Docker Images
        run: |
          docker-compose build
          docker-compose push




